.hostsports-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.hostsports-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.hostsports-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hostsports-navbar {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  max-width: 1000px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.hostsports-navlink {
  text-decoration: none;
}
.hostsports-right-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.hostsports-links-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.hostsports-navlink1 {
  font-weight: bold;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.hostsports-navlink2 {
  font-weight: bold;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.hostsports-text {
  font-weight: bold;
  margin-right: var(--dl-space-space-doubleunit);
}
.hostsports-text01 {
  font-weight: bold;
  margin-right: var(--dl-space-space-doubleunit);
}
.hostsports-image {
  width: 200px;
  object-fit: cover;
}
.hostsports-form {
  width: 200px;
  height: 100px;
  display: flex;
}
.hostsports-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.hostsports-container4 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.hostsports-image1 {
  width: 200px;
  object-fit: cover;
  transition: 0.3s;
}

@media(max-width: 1600px) {
  .hostsports-container {
    background-color: #a46eaf;
  }
  .hostsports-container1 {
    width: 1335px;
    height: 1561px;
    position: relative;
    background-color: #a46eaf;
  }
  .hostsports-container2 {
    top: -17px;
    right: -2px;
    position: absolute;
    padding-left: 44px;
    justify-content: center;
    background-color: #ffffff;
  }
  .hostsports-navbar {
    height: 72px;
    align-self: flex-start;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    padding-bottom: 10px;
  }
  .hostsports-navlink1 {
    font-style: normal;
    font-weight: 600;
    padding-top: 0.5px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 0.5px;
  }
  .hostsports-navlink2 {
    font-style: normal;
    font-weight: 600;
    padding-top: 0.5px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 0.5px;
  }
  .hostsports-text {
    font-style: normal;
    font-weight: 600;
    padding-top: 0.5px;
    border-color: #ff00ea;
    border-width: 1px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 0.5px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 5px;
  }
  .hostsports-text01 {
    font-style: normal;
    font-weight: 600;
    padding-top: 0.5px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 0.5px;
  }
  .hostsports-image {
    width: 40px;
    height: 41px;
  }
  .hostsports-container3 {
    top: 83px;
    left: 162px;
    width: 1009px;
    height: 1329px;
    position: absolute;
    box-shadow: 5px 5px 20px 10px #611659;
    margin-top: 20px;
    align-items: flex-start;
    border-color: #0a0a0a;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 5px;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #ffffff;
  }
  .hostsports-container4 {
    height: 59px;
    position: relative;
    background-color: #060606;
  }
  .hostsports-text02 {
    top: 16px;
    left: 393px;
    color: rgb(255, 253, 253);
    position: absolute;
    font-size: 14px;
  }
  .hostsports-textarea {
    top: 606px;
    left: 210px;
    width: 635px;
    height: 87px;
    position: absolute;
    border-radius: 10px;
    background-color: #cac5c5;
  }
  .hostsports-textinput {
    left: 481px;
    width: 217px;
    bottom: 233px;
    height: 34px;
    position: absolute;
    border-radius: 10px;
    background-color: #d6cfcf;
  }
  .hostsports-button {
    left: 321px;
    bottom: 227px;
    position: absolute;
    border-radius: 10px;
    background-color: rgb(226, 220, 220);
  }
  .hostsports-select {
    top: 324px;
    left: 611px;
    width: 226px;
    z-index: 100;
    position: absolute;
    box-shadow: 5px 5px 10px 0px #e1dddd;
    border-color: var(--dl-color-gray-black);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    background-color: bfbdbd;
  }
  .hostsports-select1 {
    top: 389px;
    left: 195px;
    width: 226px;
    z-index: 100;
    position: absolute;
    box-shadow: 5px 5px 10px 0px #e1dddd;
    border-color: var(--dl-color-gray-black);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    background-color: bfbdbd;
  }
  .hostsports-button1 {
    top: 206px;
    left: 443px;
    width: 96px;
    height: 28px;
    position: absolute;
  }
  .hostsports-text06 {
    top: 719px;
    left: 413px;
    position: absolute;
    font-size: 14px;
  }
  .hostsports-textinput01 {
    top: 460px;
    left: 199px;
    width: 222px;
    height: 27px;
    position: absolute;
    border-radius: 10px;
    background-color: #bfbdbd;
  }
  .hostsports-textinput02 {
    top: 516px;
    left: 198px;
    width: 222px;
    height: 27px;
    position: absolute;
    border-radius: 10px;
    background-color: #bfbdbd;
  }
  .hostsports-textinput03 {
    top: 254px;
    left: 196px;
    width: 222px;
    height: 27px;
    position: absolute;
    border-radius: 10px;
    background-color: #bfb8b8;
  }
  .hostsports-textinput04 {
    top: 390px;
    left: 617px;
    width: 222px;
    height: 27px;
    position: absolute;
    border-radius: 10px;
    background-color: #bfb8b8;
  }
  .hostsports-textinput05 {
    top: 848px;
    left: 186px;
    width: 222px;
    height: 27px;
    position: absolute;
    border-radius: 10px;
    background-color: #bfb8b8;
  }
  .hostsports-textinput06 {
    top: 783px;
    left: 189px;
    width: 222px;
    height: 27px;
    position: absolute;
    border-radius: 10px;
    background-color: #bfb8b8;
  }
  .hostsports-textinput07 {
    top: 459px;
    left: 618px;
    width: 222px;
    height: 27px;
    position: absolute;
    border-radius: 10px;
    background-color: #bfb8b8;
  }
  .hostsports-textinput08 {
    top: 918px;
    left: 189px;
    width: 222px;
    height: 27px;
    position: absolute;
    border-radius: 10px;
    background-color: #bfb8b8;
  }
  .hostsports-textinput09 {
    left: 190px;
    width: 222px;
    bottom: 315px;
    height: 27px;
    position: absolute;
    border-radius: 10px;
    background-color: #bfb8b8;
  }
  .hostsports-textinput10 {
    top: 787px;
    left: 622px;
    width: 222px;
    height: 27px;
    position: absolute;
    border-radius: 10px;
    background-color: #bfb8b8;
  }
  .hostsports-textinput11 {
    top: 915px;
    left: 625px;
    width: 222px;
    height: 27px;
    position: absolute;
    border-radius: 10px;
    background-color: #bfb8b8;
  }
  .hostsports-textinput12 {
    top: 321px;
    left: 199px;
    width: 222px;
    height: 27px;
    position: absolute;
    border-radius: 10px;
    background-color: #bfbdbd;
  }
  .hostsports-image1 {
    top: 78px;
    left: 418px;
    width: 140px;
    height: 109px;
    position: absolute;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: 25px;
  }
  .hostsports-text07 {
    top: 255px;
    left: 96px;
    position: absolute;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
  }
  .hostsports-text08 {
    top: 326px;
    left: 94px;
    position: absolute;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
  }
  .hostsports-text11 {
    left: 99px;
    bottom: 180px;
    position: absolute;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
  }
  .hostsports-text12 {
    top: 330px;
    left: 519px;
    position: absolute;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
  }
  .hostsports-text13 {
    top: 451px;
    left: 91px;
    position: absolute;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
  }
  .hostsports-text18 {
    top: 394px;
    left: 522px;
    position: absolute;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
  }
  .hostsports-text21 {
    top: 388px;
    left: 93px;
    position: absolute;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
  }
  .hostsports-text26 {
    top: 261px;
    left: 521px;
    position: absolute;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
  }
  .hostsports-textinput13 {
    top: 254px;
    left: 613px;
    width: 219px;
    height: 29px;
    position: absolute;
    border-radius: 10px;
    background-color: #bfb8b8;
  }
  .hostsports-text27 {
    top: 558px;
    left: 97px;
    position: absolute;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
  }
  .hostsports-text28 {
    top: 461px;
    left: 521px;
    position: absolute;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
  }
  .hostsports-text29 {
    top: 854px;
    left: 112px;
    position: absolute;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
  }
  .hostsports-text30 {
    left: 110px;
    bottom: 318px;
    position: absolute;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
  }
  .hostsports-text31 {
    top: 787px;
    left: 513px;
    position: absolute;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
  }
  .hostsports-text32 {
    top: 921px;
    left: 519px;
    position: absolute;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
  }
  .hostsports-text33 {
    top: 782px;
    left: 103px;
    position: absolute;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
  }
  .hostsports-text34 {
    top: 517px;
    left: 94px;
    position: absolute;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
  }
  .hostsports-text35 {
    top: 920px;
    left: 105px;
    position: absolute;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
  }
  .hostsports-textarea1 {
    left: 205px;
    width: 666px;
    bottom: 95px;
    height: 70px;
    position: absolute;
    border-radius: 10px;
    background-color: #c3b9b9;
  }
  .hostsports-button2 {
    left: 469px;
    bottom: 25px;
    position: absolute;
    box-shadow: 5px 5px 50px 0px #d4d4d4;
    border-radius: 10px;
    background-color: #bfb8b8;
  }
}
@media(max-width: 767px) {
  .hostsports-right-side {
    display: none;
  }
}
