.hostculturals-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.hostculturals-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.hostculturals-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hostculturals-navbar {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  max-width: 1000px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.hostculturals-navlink {
  text-decoration: none;
}
.hostculturals-right-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.hostculturals-links-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.hostculturals-navlink1 {
  font-weight: bold;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.hostculturals-navlink2 {
  font-weight: bold;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.hostculturals-text {
  font-weight: bold;
  margin-right: var(--dl-space-space-doubleunit);
}
.hostculturals-text01 {
  font-weight: bold;
  margin-right: var(--dl-space-space-doubleunit);
}
.hostculturals-image {
  width: 200px;
  object-fit: cover;
}
.hostculturals-form {
  width: 200px;
  height: 100px;
  display: flex;
}
.hostculturals-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.hostculturals-container4 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.hostculturals-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hostculturals-image1 {
  width: 200px;
  object-fit: cover;
  transition: 0.3s;
}

.hostculturals-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.hostculturals-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 2px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.hostculturals-dropdown-arrow {
  transition: 0.3s;
}
.hostculturals-icon {
  width: 18px;
  height: 18px;
  margin-top: auto;
  transition: 0.3s;
  margin-bottom: auto;
}
.hostculturals-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: 4px;
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.hostculturals-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.hostculturals-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.hostculturals-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.hostculturals-text49 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.hostculturals-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.hostculturals-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.hostculturals-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.hostculturals-text50 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.hostculturals-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.hostculturals-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.hostculturals-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.hostculturals-text51 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
@media(max-width: 1600px) {
  .hostculturals-container1 {
    width: 100%;
    height: 1974px;
    position: relative;
    background-color: #a46eaf;
  }
  .hostculturals-container2 {
    top: -9px;
    right: -10px;
    height: 90px;
    position: absolute;
    padding-left: 44px;
    justify-content: center;
    background-color: #ffffff;
  }
  .hostculturals-navbar {
    height: 72px;
    align-self: flex-start;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    padding-bottom: 10px;
  }
  .hostculturals-navlink1 {
    font-style: normal;
    font-weight: 600;
    padding-top: 0.5px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 0.5px;
  }
  .hostculturals-navlink2 {
    font-style: normal;
    font-weight: 600;
    padding-top: 0.5px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 0.5px;
  }
  .hostculturals-text {
    font-style: normal;
    font-weight: 600;
    padding-top: 0.5px;
    border-color: #ff00ea;
    border-width: 1px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 0.5px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 5px;
  }
  .hostculturals-text01 {
    font-style: normal;
    font-weight: 600;
    padding-top: 0.5px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 0.5px;
  }
  .hostculturals-image {
    width: 40px;
    height: 41px;
  }
  .hostculturals-container3 {
    top: 79px;
    left: 297px;
    width: 1041px;
    height: 1789px;
    position: absolute;
    box-shadow: 5px 5px 20px 10px #611659;
    margin-top: 20px;
    align-items: flex-start;
    border-color: #0a0a0a;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 5px;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #ffffff;
  }
  .hostculturals-container4 {
    height: 59px;
    position: relative;
    background-color: #060606;
  }
  .hostculturals-text02 {
    top: 16px;
    left: 393px;
    color: rgb(255, 253, 253);
    position: absolute;
    font-size: 14px;
  }
  .hostculturals-textinput {
    left: 481px;
    width: 217px;
    bottom: 233px;
    height: 34px;
    position: absolute;
    border-radius: 10px;
    background-color: #d6cfcf;
  }
  .hostculturals-button {
    left: 321px;
    bottom: 227px;
    position: absolute;
    border-radius: 10px;
    background-color: rgb(226, 220, 220);
  }
  .hostculturals-button1 {
    top: 206px;
    left: 443px;
    width: 96px;
    height: 28px;
    position: absolute;
  }
  .hostculturals-textarea {
    top: 337px;
    left: 196px;
    width: 642px;
    height: 60px;
    position: absolute;
    border-radius: 10px;
    background-color: #c0bbbb;
  }
  .hostculturals-text06 {
    top: 1171px;
    left: 421px;
    position: absolute;
    font-size: 14px;
  }
  .hostculturals-button2 {
    top: 787px;
    left: 390px;
    position: absolute;
    box-shadow: 5px 5px 100px 0px #d4d4d4;
  }
  .hostculturals-container5 {
    top: 699px;
    right: 0px;
    height: 59px;
    position: absolute;
    background-color: #000000;
  }
  .hostculturals-text07 {
    top: -3px;
    left: 406px;
    color: rgb(255, 255, 255);
    position: absolute;
    font-size: 14px;
  }
  .hostculturals-text08 {
    font-size: 14px;
  }
  .hostculturals-textinput01 {
    top: 441px;
    left: 190px;
    width: 222px;
    height: 27px;
    position: absolute;
    border-radius: 10px;
    background-color: #bfbdbd;
  }
  .hostculturals-textinput02 {
    top: 507px;
    left: 192px;
    width: 222px;
    height: 27px;
    position: absolute;
    border-radius: 10px;
    background-color: #bfbdbd;
  }
  .hostculturals-textinput03 {
    top: 254px;
    left: 196px;
    width: 222px;
    height: 27px;
    position: absolute;
    border-radius: 10px;
    background-color: #bfb8b8;
  }
  .hostculturals-textinput04 {
    top: 855px;
    left: 217px;
    width: 222px;
    height: 27px;
    position: absolute;
    border-radius: 10px;
    background-color: #bfb8b8;
  }
  .hostculturals-textinput05 {
    top: 932px;
    left: 221px;
    width: 222px;
    height: 27px;
    position: absolute;
    border-radius: 10px;
    background-color: #bfb8b8;
  }
  .hostculturals-textinput06 {
    top: 1283px;
    left: 208px;
    width: 222px;
    height: 27px;
    position: absolute;
    border-radius: 10px;
    background-color: #bfb8b8;
  }
  .hostculturals-textinput07 {
    top: 1223px;
    left: 207px;
    width: 222px;
    height: 27px;
    position: absolute;
    border-radius: 10px;
    background-color: #bfb8b8;
  }
  .hostculturals-textinput08 {
    top: 856px;
    left: 636px;
    width: 222px;
    height: 27px;
    position: absolute;
    border-radius: 10px;
    background-color: #bfb8b8;
  }
  .hostculturals-textinput09 {
    top: 1376px;
    left: 207px;
    width: 222px;
    height: 27px;
    position: absolute;
    border-radius: 10px;
    background-color: #bfb8b8;
  }
  .hostculturals-textinput10 {
    top: 1463px;
    left: 209px;
    width: 222px;
    height: 27px;
    position: absolute;
    border-radius: 10px;
    background-color: #bfb8b8;
  }
  .hostculturals-textinput11 {
    top: 1019px;
    left: 223px;
    width: 222px;
    height: 27px;
    position: absolute;
    border-radius: 10px;
    background-color: #bfb8b8;
  }
  .hostculturals-textinput12 {
    top: 1004px;
    left: 647px;
    width: 222px;
    height: 27px;
    position: absolute;
    border-radius: 10px;
    background-color: #bfb8b8;
  }
  .hostculturals-textinput13 {
    top: 1224px;
    left: 641px;
    width: 222px;
    height: 27px;
    position: absolute;
    border-radius: 10px;
    background-color: #bfb8b8;
  }
  .hostculturals-textinput14 {
    top: 1356px;
    left: 642px;
    width: 222px;
    height: 27px;
    position: absolute;
    border-radius: 10px;
    background-color: #bfb8b8;
  }
  .hostculturals-textinput15 {
    top: 442px;
    left: 629px;
    width: 222px;
    height: 27px;
    position: absolute;
    border-radius: 10px;
    background-color: #bfbdbd;
  }
  .hostculturals-textinput16 {
    top: 572px;
    right: 189px;
    width: 222px;
    height: 27px;
    position: absolute;
    border-radius: 10px;
    background-color: #bfbdbd;
  }
  .hostculturals-textinput17 {
    top: 633px;
    left: 628px;
    width: 222px;
    height: 27px;
    position: absolute;
    border-radius: 10px;
    background-color: #bfbdbd;
  }
  .hostculturals-textinput18 {
    top: 632px;
    left: 194px;
    width: 222px;
    height: 27px;
    position: absolute;
    border-radius: 10px;
    background-color: #bfbdbd;
  }
  .hostculturals-textinput19 {
    top: 505px;
    left: 629px;
    width: 222px;
    height: 27px;
    position: absolute;
    border-radius: 10px;
    background-color: #bfbdbd;
  }
  .hostculturals-image1 {
    top: 78px;
    left: 418px;
    width: 140px;
    height: 109px;
    position: absolute;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: 25px;
  }
  .hostculturals-text11 {
    top: 255px;
    left: 96px;
    position: absolute;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
  }
  .hostculturals-text12 {
    top: 310px;
    left: 95px;
    position: absolute;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
  }
  .hostculturals-text13 {
    left: 99px;
    bottom: 180px;
    position: absolute;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
  }
  .hostculturals-text14 {
    top: 441px;
    left: 526px;
    position: absolute;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
  }
  .hostculturals-text15 {
    top: 445px;
    left: 94px;
    position: absolute;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
  }
  .hostculturals-text16 {
    top: 636px;
    left: 526px;
    position: absolute;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
  }
  .hostculturals-text20 {
    top: 510px;
    left: 94px;
    position: absolute;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
  }
  .hostculturals-text21 {
    top: 511px;
    left: 523px;
    position: absolute;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
  }
  .hostculturals-text22 {
    top: 256px;
    left: 506px;
    position: absolute;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
  }
  .hostculturals-textinput20 {
    top: 253px;
    left: 614px;
    width: 219px;
    height: 29px;
    position: absolute;
    border-radius: 10px;
    background-color: #bfb8b8;
  }
  .hostculturals-text23 {
    top: 637px;
    left: 100px;
    position: absolute;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
  }
  .hostculturals-text24 {
    top: 563px;
    left: 525px;
    position: absolute;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
  }
  .hostculturals-text29 {
    top: 858px;
    left: 107px;
    position: absolute;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
  }
  .hostculturals-text30 {
    top: 937px;
    left: 97px;
    position: absolute;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
  }
  .hostculturals-text31 {
    top: 1289px;
    left: 107px;
    position: absolute;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
  }
  .hostculturals-text32 {
    top: 1463px;
    left: 110px;
    position: absolute;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
  }
  .hostculturals-text33 {
    top: 1229px;
    left: 533px;
    position: absolute;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
  }
  .hostculturals-text34 {
    top: 1361px;
    left: 533px;
    position: absolute;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
  }
  .hostculturals-text35 {
    top: 1225px;
    left: 106px;
    position: absolute;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
  }
  .hostculturals-text36 {
    top: 1382px;
    left: 108px;
    position: absolute;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
  }
  .hostculturals-text37 {
    top: 1016px;
    left: 104px;
    position: absolute;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
  }
  .hostculturals-text41 {
    top: 1004px;
    left: 540px;
    position: absolute;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
  }
  .hostculturals-text45 {
    top: 858px;
    left: 529px;
    position: absolute;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
  }
  .hostculturals-textarea1 {
    left: 205px;
    width: 666px;
    bottom: 95px;
    height: 70px;
    position: absolute;
    border-radius: 10px;
    background-color: #c3b9b9;
  }
  .hostculturals-button3 {
    left: 469px;
    bottom: 25px;
    position: absolute;
    box-shadow: 5px 5px 50px 0px #d4d4d4;
    border-radius: 10px;
    background-color: #bfb8b8;
  }
  .hostculturals-dropdown-toggle {
    position: relative;
  }
  .hostculturals-text52 {
    top: 936px;
    left: 538px;
    position: absolute;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
  }
  .hostculturals-text53 {
    top: 572px;
    left: 90px;
    position: absolute;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
  }
  .hostculturals-select {
    top: 935px;
    left: 641px;
    width: 226px;
    z-index: 100;
    position: absolute;
    box-shadow: 5px 5px 10px 0px #e1dddd;
    border-color: var(--dl-color-gray-black);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    background-color: bfbdbd;
  }
  .hostculturals-select1 {
    top: 567px;
    left: 197px;
    width: 226px;
    z-index: 100;
    position: absolute;
    box-shadow: 5px 5px 10px 0px #e1dddd;
    border-color: var(--dl-color-gray-black);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    background-color: bfbdbd;
  }
}
@media(max-width: 767px) {
  .hostculturals-right-side {
    display: none;
  }
}
