.outline-button1-container {
  display: flex;
  position: relative;
}
.outline-button1-button {
  color: var(--dl-color-gray-black);
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-primary-100);
  border-width: 1px;
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: 50px;
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-white);
}



.place-card1-container {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.place-card1-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.place-card1-container1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
}
.place-card1-text {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: var(--dl-space-space-halfunit);
}
.place-card1-text1 {
  font-size: 12px;
  max-width: 250px;
  margin-bottom: var(--dl-space-space-doubleunit);
}




@media(max-width: 767px) {
  .place-card1-container {
    width: 200px;
  }
}
@media(max-width: 479px) {
  .place-card1-container {
    width: 300px;
  }
}

.index1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.index1-container01 {
  top: -1px;
  left: 224px;
  width: 100%;
  height: 65px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.index1-navbar {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  max-width: 1000px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.index1-right-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.index1-links-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.index1-navlink {
  font-weight: bold;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.index1-link {
  font-weight: bold;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.index1-navlink01 {
  font-weight: bold;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.index1-text {
  font-weight: bold;
  margin-right: var(--dl-space-space-doubleunit);
}
.index1-link1 {
  font-weight: bold;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.index1-image {
  width: 200px;
  object-fit: cover;
}
.index1-container02 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.index1-image1 {
  width: 200px;
  object-fit: cover;
}
.index1-second-main {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.index1-secondmain {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-quadruple);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-quadruple);
  justify-content: flex-start;
}
.index1-text11 {
  color: var(--dl-color-gray-500);
}
.index1-cards-container {
  width: 100%;
  display: flex;
  grid-gap: var(--dl-space-space-doubleunit);
  flex-wrap: wrap;
  max-width: 1000px;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.index1-navlink02 {
  display: contents;
}
.index1-component {
  text-decoration: none;
}
.index1-navlink03 {
  display: contents;
}
.index1-component1 {
  text-decoration: none;
}
.index1-navlink04 {
  display: contents;
}
.index1-component2 {
  text-decoration: none;
}
.index1-navlink05 {
  display: contents;
}
.index1-component3 {
  text-decoration: none;
}
.index1-navlink06 {
  display: contents;
}
.index1-component4 {
  text-decoration: none;
}
.index1-navlink07 {
  display: contents;
}
.index1-component5 {
  text-decoration: none;
}
.index1-college-infos {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-quadruple);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-quadruple);
  justify-content: flex-start;
}
.index1-text13 {
  color: var(--dl-color-gray-500);
}
.index1-main-cont {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.index1-container03 {
  flex: 0 0 auto;
  width: 454px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.index1-container04 {
  flex: 0 0 auto;
  width: 454px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.index1-navlink08 {
  display: contents;
}
.index1-image2 {
  width: 200px;
  object-fit: cover;
  text-decoration: none;
}
.index1-navlink09 {
  display: contents;
}
.index1-image3 {
  width: 200px;
  object-fit: cover;
  text-decoration: none;
}
.index1-faq {
  width: 100%;
  display: flex;
  padding: 120px;
  align-items: center;
  flex-direction: column;
  padding-bottom: 120px;
  justify-content: center;
  background-color: #EFF0F2;
}
.index1-heading {
  width: 100%;
  display: flex;
  align-items: center;
  user-select: none;
  flex-direction: column;
}
.index1-text21 {
  text-align: center;
}
.index1-text22 {
  color: rgb(0, 0, 0);
  width: 100%;
  max-width: 600px;
  text-align: center;
  margin-bottom: var(--dl-space-space-fiveunits);
}
.index1-accordion {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.index1-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.index1-text23 {
  width: 100%;
  font-size: 20px;
  max-width: 760px;
  font-style: normal;
  font-weight: 500;
}
.index1-text24 {
  width: 100%;
  max-width: 760px;
  line-height: 24px;
}
.index1-text25 {
  width: 100%;
  max-width: 760px;
}
.index1-text28 {
  width: 100%;
  max-width: 760px;
}
.index1-header1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.index1-text29 {
  width: 100%;
  font-size: 20px;
  max-width: 760px;
  font-style: normal;
  font-weight: 500;
}
.index1-text32 {
  width: 100%;
  max-width: 760px;
  line-height: 24px;
}
.index1-header2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.index1-text37 {
  width: 100%;
  font-size: 20px;
  max-width: 760px;
  font-style: normal;
  font-weight: 500;
}
.index1-text38 {
  width: 100%;
  max-width: 760px;
  line-height: 24px;
}
.index1-text39 {
  width: 100%;
  max-width: 760px;
}
.index1-text42 {
  width: 100%;
  max-width: 760px;
}
.index1-header3 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.index1-text43 {
  width: 100%;
  font-size: 20px;
  max-width: 760px;
  font-style: normal;
  font-weight: 500;
}
.index1-text44 {
  width: 100%;
  max-width: 760px;
  line-height: 24px;
}
.index1-accordion-container4 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
.index1-accordion-code {
  display: contents;
}
.index1-contactbar {
  width: 100%;
  display: flex;
  padding: 120px;
  align-items: flex-start;
  padding-right: 125px;
  flex-direction: column;
  justify-content: center;
}
.index1-container05 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.index1-container06 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.index1-image4 {
  width: 200px;
  object-fit: cover;
}
.index1-footer {
  color: var(--dl-color-gray-white);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.index1-icon08 {
  width: 16px;
  height: 16px;
  margin-right: var(--dl-space-space-twounits);
}
.index1-icon10 {
  width: 16px;
  height: 16px;
  margin-right: var(--dl-space-space-twounits);
}
.index1-icon12 {
  width: 16px;
  height: 16px;
  margin-right: var(--dl-space-space-twounits);
}
.index1-link2 {
  display: contents;
}
.index1-logo1 {
  text-decoration: none;
}
.index1-links-container1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.index1-container07 {
  display: flex;
  align-items: flex-start;
  margin-left: 100px;
  flex-direction: column;
}
.index1-navlink10 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.index1-navlink11 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.index1-link3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.index1-link4 {
  text-decoration: none;
}
.index1-container08 {
  display: flex;
  align-items: flex-start;
  margin-left: 100px;
  flex-direction: column;
}
.index1-navlink12 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.index1-navlink13 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.index1-navlink14 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.index1-navlink15 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.index1-navlink16 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.index1-link5 {
  text-decoration: none;
}
.index1-container09 {
  display: flex;
  align-items: flex-start;
  margin-left: 100px;
  flex-direction: column;
}
.index1-link6 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.index1-link7 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.index1-container10 {
  display: flex;
  align-items: flex-start;
  margin-left: 100px;
  flex-direction: column;
}
.index1-navlink17 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.index1-navlink18 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
@media(max-width: 1600px) {
  .index1-container01 {
    top: -3px;
    right: -156px;
    width: 1306px;
    height: 0px;
  }
  .index1-navbar {
    top: 0px;
    left: 65px;
    width: 4000px;
    height: 65px;
    margin: auto;
    position: absolute;
    max-width: auto;
    align-self: flex-start;
    padding-top: 10px;
    margin-right: var(--dl-space-space-fiveunits);
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    padding-bottom: 10px;
    background-color: #000000;
  }
  .index1-logo {
    color: var(--dl-color-gray-white);
    font-size: 2em;
  }







  .popup {
    display: none;
    position: fixed;
    
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    max-width: 900px;
    width: 95%;
    top:20%;
    left:20%;
    text-align: center;
    position: relative;
}
/* Add this to your existing CSS */

.options button {
  margin: 5px;
}

.form-container {
  text-align: left;
}

.registration-form {
  display: none;
}





























  .index1-navlink {
    color: var(--dl-color-gray-white);
    font-style: normal;
    font-weight: 600;
    padding-top: 0.5px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 0.5px;
  }
  .index1-link {
    color: var(--dl-color-gray-white);
    font-style: normal;
    font-weight: 600;
    padding-top: 0.5px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 0.5px;
  }
  .index1-navlink01 {
    color: var(--dl-color-gray-white);
    font-style: normal;
    font-weight: 600;
    padding-top: 0.5px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 0.5px;
  }
  .index1-text {
    color: var(--dl-color-gray-white);
    font-style: normal;
    font-weight: 600;
    padding-top: 0.5px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 0.5px;
  }
  .index1-link1 {
    color: var(--dl-color-gray-white);
    font-style: normal;
    font-weight: 600;
    padding-top: 0.5px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 0.5px;
  }
  .index1-image {
    width: 40px;
    height: 41px;
  }
  .index1-container02 {
    height: 740px;
    background-color: var(--dl-color-gray-white);
  }
  .index1-image1 {
    top: 126px;
    left: 697px;
    width: 741px;
    height: 575px;
    position: absolute;
  }
  .index1-text01 {
    top: 233px;
    left: 181px;
    color: rgba(236, 45, 77, 0.86);
    position: absolute;
    align-self: flex-start;
    font-family: Fira Sans;
  }
  .index1-text06 {
    color: rgb(0, 0, 0);
    margin-left: 181px;
  }
  .index1-second-main {
    height: 4273px;
    position: relative;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .index1-secondmain {
    top: -23px;
    left: -7px;
    height: 1346px;
    position: absolute;
    background-color: var(--dl-color-gray-white);
  }
  .index1-cards-container {
    left: 284px;
    width: 1369px;
    bottom: 42px;
    height: 997px;
    position: absolute;
    margin-right: var(--dl-space-space-twounits);
  }
  .index1-college-infos {
    top: 1310px;
    right: -3px;
    height: 746px;
    position: absolute;
    margin-bottom: 475px;
    background-color: var(--dl-color-gray-white);
  }
  .index1-text13 {
    color: var(--dl-color-gray-black);
  }
  .index1-main-cont {
    height: 578px;
    position: relative;
  }
  .index1-container03 {
    position: relative;
  }
  .index1-container04 {
    position: relative;
  }
  .index1-image2 {
    top: 64px;
    right: -133px;
    width: 406px;
    height: 311px;
    position: absolute;
  }
  .index1-text14 {
    right: 36px;
    bottom: -436px;
    position: absolute;
  }
  .index1-text15 {
    right: -722px;
    width: 142px;
    bottom: -467px;
    height: 77px;
    position: absolute;
  }
  .index1-image3 {
    top: 81px;
    left: 944px;
    width: 377px;
    height: 272px;
    position: absolute;
  }
  .index1-text19 {
    top: 443px;
    left: 113px;
    position: absolute;
  }
  .index1-text20 {
    top: 440px;
    left: 861px;
    position: absolute;
  }
  .index1-faq {
    top: 2057px;
    left: -37px;
    height: 1095px;
    position: absolute;
    background-color: var(--dl-color-gray-white);
  }
  .index1-heading {
    height: 212px;
  }
  .index1-text23 {
    font-size: 20px;
  }
  .index1-text24 {
    line-height: 24px;
  }
  .index1-text26 {
    line-height: 24px;
  }
  .index1-text29 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
  }
  .index1-text32 {
    line-height: 24px;
  }
  .index1-text34 {
    line-height: 24px;
  }
  .index1-text37 {
    font-size: 20px;
  }
  .index1-text38 {
    line-height: 24px;
  }
  .index1-text40 {
    line-height: 24px;
  }
  .index1-text43 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
  }
  .index1-text44 {
    line-height: 24px;
  }
  .index1-text46 {
    line-height: 24px;
  }
  .index1-text49 {
    line-height: 24px;
  }
  .index1-contactbar {
    top: 3196px;
    left: -6px;
    height: 651px;
    position: absolute;
    background-color: #87CEFA	;
  }
  .index1-container05 {
    top: 64px;
    left: 186px;
    width: 1194px;
    height: 513px;
    position: absolute;
    border-radius: var(--dl-radius-radius-radius8);
    background-color: var(--dl-color-gray-white);
  }
  .index1-container06 {
    top: 28px;
    right: 70px;
    width: 543px;
    height: 451px;
    position: absolute;
    padding-bottom: 0px;
  }
  .index1-text52 {
    top: 5px;
    left: 101px;
    width: 356px;
    height: 43px;
    position: absolute;
    font-size: 2.5em;
    font-style: normal;
    font-weight: 800;
  }
  .index1-textinput {
    top: 123px;
    left: 108px;
    position: absolute;
    border-radius: 10px;
    background-color: var(--dl-color-gray-white);
  }
  .index1-textinput1 {
    top: 188px;
    left: 108px;
    position: absolute;
    border-radius: 10px;
  }
  .index1-textarea {
    top: 252px;
    left: 108px;
    width: 246px;
    height: 101px;
    position: absolute;
    border-radius: 15px;
    padding-right: 20px;
  }
  .index1-button {
    left: 736px;
    color: var(--dl-color-gray-white);
    width: 165px;
    bottom: 50px;
    height: 45px;
    position: absolute;
    font-style: normal;
    font-weight: 800;
    border-radius: 15px;
    background-color: #00BFFF	;
  }
  .index1-image4 {
    top: 10px;
    left: 21px;
    width: 533px;
    height: 485px;
    position: absolute;
  }
  .index1-footer {
    right: -2px;
    bottom: 2px;
    height: 434px;
    position: absolute;
  }
  .index1-icon08 {
    fill: #D9D9D9;
    width: 25px;
    height: 25px;
  }
  .index1-icon10 {
    fill: #D9D9D9;
    width: 25px;
    height: 25px;
  }
  .index1-icon12 {
    fill: #D9D9D9;
    width: 25px;
    height: 25px;
    align-self: center;
  }
  .index1-logo1 {
    color: #ffffff;
    align-self: center;
    padding-bottom: 0px;
  }
  .index1-links-container1 {
    width: 838px;
    height: 225px;
    align-self: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .index1-container07 {
    height: 236px;
    align-self: flex-start;
  }
  .index1-navlink10 {
    text-decoration: none;
  }
  .index1-navlink11 {
    text-decoration: none;
  }
  .index1-link3 {
    text-decoration: none;
  }
  .index1-container08 {
    width: 110px;
    align-self: flex-start;
  }
  .index1-navlink12 {
    text-decoration: none;
  }
  .index1-navlink13 {
    text-decoration: none;
  }
  .index1-navlink14 {
    text-decoration: none;
  }
  .index1-navlink15 {
    text-decoration: none;
  }
  .index1-link5 {
    text-decoration: none;
  }
  .index1-container09 {
    width: 92px;
    height: 102px;
    align-self: flex-start;
    margin-left: 61px;
  }
  .index1-link6 {
    text-decoration: none;
  }
  .index1-link7 {
    text-decoration: none;
  }
  .index1-container10 {
    height: 228px;
    align-self: flex-start;
    margin-left: 76px;
    padding-right: 0px;
  }
  .index1-navlink17 {
    text-decoration: none;
  }
  .index1-navlink18 {
    text-decoration: none;
  }
}
@media(max-width: 1200px) {
  .index1-contactbar {
    background-color: rgba(146, 249, 234, 0.59);
  }
  .index1-navlink12 {
    text-decoration: none;
  }
  .index1-navlink13 {
    text-decoration: none;
  }
  .index1-navlink14 {
    text-decoration: none;
  }
  .index1-navlink15 {
    text-decoration: none;
  }
  .index1-navlink16 {
    text-decoration: none;
  }
  .index1-link5 {
    text-decoration: none;
  }
  .index1-navlink17 {
    text-decoration: none;
  }
  .index1-navlink18 {
    text-decoration: none;
  }
}
@media(max-width: 991px) {
  .index1-cards-container {
    justify-content: center;
  }
  .index1-accordion {
    width: 100%;
    max-width: 1200px;
  }
}
@media(max-width: 767px) {
  .index1-right-side {
    display: none;
  }
  .index1-secondmain {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .index1-college-infos {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .index1-faq {
    padding: 64px;
  }
  .index1-heading {
    width: 100%;
  }
  .index1-text21 {
    font-size: 36px;
    line-height: 36px;
  }
  .index1-text22 {
    width: 100%;
    max-width: 600p;
    margin-bottom: 48px;
  }
  .index1-contactbar {
    padding-top: 64px;
    padding-left: 64px;
    padding-right: 64px;
    padding-bottom: 64px;
  }
  .index1-links-container1 {
    margin-top: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-tripleunit);
    justify-content: space-between;
  }
  .index1-container08 {
    margin-left: 0px;
  }
  .index1-container10 {
    margin-left: 0px;
  }
}
@media(max-width: 479px) {
  .index1-contactbar {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .index1-links-container1 {
    margin-top: var(--dl-space-space-doubleunit);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .index1-container07 {
    height: 100%;
    align-items: flex-start;
    margin-left: 50px;
  }
  .index1-navlink10 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .index1-navlink11 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .index1-link3 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .index1-link4 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .index1-navlink12 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .index1-navlink13 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .index1-navlink14 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .index1-navlink15 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .index1-navlink16 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .index1-link5 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .index1-container09 {
    height: 100%;
    align-items: flex-start;
    margin-left: 50px;
  }
  .index1-link6 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .index1-link7 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .index1-navlink17 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .index1-navlink18 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
}
